/node_modules

.vscode
.idea

npm-debug.log*
yarn-error.log

/examples/*/node_modules
/examples/*/package-lock.json
/examples/*/.envrc

/core/*/node_modules
/core/*/lib

/packages/*/node_modules
/packages/*/lib

/extensions/*/node_modules
/extensions/*/lib
